[!] Find (JetAll-head-content) to edit Open Graph and other Meta Tags

---------------------------
# Scribdvpdf v1.2 Setting #
---------------------------

<Variable name="tagline" description="Tagline" type="string" value="Scribdvpdf"/>
[!] Homepage tagline, ex: BlogName - Tagline

<Variable name="separator" description="Separator" type="string" value=" - "/>
[!] Title separator ( – ), ( | ), ( • )

<Variable name="description" description="Description" type="string" value="Scribd download for free"/>
[!] Default meta description, recommended 155–160 characters

<Variable name="cover" description="Cover" type="string" value=""/>
[!] Default meta image, size recommended 1600x700 px

<Variable name="logo" description="Logo" type="string" value=""/>
[!] Schema logo, size recommended 175x55 px

<Variable name="favicon" description="Favicon" type="string" value=""/>
[!] Favicon high resolution, required format (.png), min size 200x200 px

<Variable name="analyticId" description="Analytic ID" type="string" value=""/>
[!] New Google Analytic 2021

<Variable name="caPubAdsense" description="caPubAdsense ID" type="string" value=""/> 
[!] number only

<Variable name="autoTOC" description="Table of content" type="string" value="true"/>
[!] true or false

<Variable name="positionTOC" description="Position TOC" type="string" value="noscript"/>
[!] tag name, class, id

<Variable name="maxLabel" description="Limit Label" type="string" value="3"/>
[!] Limit Label Display

-------------------------
# JetTheme Css Variable #
-------------------------

<Group description="_Main Color">
<Variable name="keycolor" description="Main Color" type="color" default="#f67938" value="#00ab6b"/>
<Variable name="body.background" description="Body Background Color" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="body.text.color" description="Font Color" type="color" default="#686868" value="#686868"/>
<Variable name="posts.title.color" description="Heading Color" type="color" default="#343a40" value="#000000"/>
<Variable name="body.link.color" description="Link Color" type="color" default="$(keycolor)" value="#00ab6b"/>
<Variable name="body.hover.color" description="Link Hover" type="color" default="#f46013" value="#00ab6b"/>
<Variable name="border.color" description="Border Color" type="color" default="#efefef" value="#efefef"/>
<Variable name="posts.text.color" description="Blockquote Border Color" type="color" default="$(keycolor)" value="#555511"/>
</Group>

<Group description="_Typography">
<Variable name="body.text" description="Body Font" type="font" default="normal normal 16px system-ui,-apple-system,Segoe UI,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji" value="normal normal 16px system-ui,-apple-system,Segoe UI,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji"/>
<Variable name="posts.title" description="Heading Font" type="font" default="normal bold 40px var(--bs-font-sans-serif)" value="normal bold 40px var(--bs-font-sans-serif)"/>
<Variable name="title.h2" description="H2 Size" type="length" default="26px" min="12px" max="50px" value="26px"/>
<Variable name="title.h3" description="H3 Size" type="length" default="22px" min="12px" max="50px" value="22px"/>
<Variable name="title.h4" description="H4 Size" type="length" default="20px" min="12px" max="50px" value="20px"/>
<Variable name="title.h5" description="H5 Size" type="length" default="18px" min="12px" max="50px" value="18px"/>
<Variable name="title.h6" description="H6 Size" type="length" default="16px" min="12px" max="50px" value="16px"/>
</Group> 

<Group description="_Logo">
<Variable name="logo.width" description="Logo Max Width" type="length" default="200px" min="50px" max="500px" value="200px"/>
<Variable name="logo.width.mobile" description="Logo Max Width (mobile)" type="length" default="150px" min="50px" max="500px" value="150px"/>
</Group>

<Group description="_Header Color">
<Variable name="header.bg" description="Background" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="header.color" description="Font Color " type="color" default="#686868" value="#686868"/>
<Variable name="header.border" description="Border Color" type="color" default="#efefef" value="#efefef"/>
</Group>

<Group description="_Menu">
<Variable name="tabs.font" description="Menu Font" type="font" default="normal bold 16px var(--bs-font-sans-serif)" value="normal bold 16px var(--bs-font-sans-serif)"/>
<Variable name="tabs.color" description="Font Color" type="color" default="$(body.text.color)" value="#686868"/>
<Variable name="tabs.hover" description="Font Hover" type="color" default="$(keycolor)" value="#008553"/>
<Variable name="tabs.selected.color" description="Font Selected" type="color" default="$(keycolor)" value="#008553"/>
</Group>

<Group description="_Dropdown Menu">
<Variable name="dropdown.font" description="Font Size" type="length" default="16px" min="12px" max="50px" value="15px"/>
<Variable name="dropdown.bg" description="Background Color" type="color" default="$(body.text.color)" value="#ffffff"/>
<Variable name="dropdown.color" description="Font Color" type="color" default="$(keycolor)" value="#686868"/>
<Variable name="dropdown.hover" description="Font Hover" type="color" default="$(keycolor)" value="#00ab6b"/>
<Variable name="dropdown.selected" description="Dropdown Selected Color" type="color" default="$(keycolor)" value="#0da06a"/>
</Group>

<Group description="_Footer Color">
<Variable name="footer.bg" description="Background Color" type="color" default="#212529" value="#212529"/>
<Variable name="footer.color" description="Font Color" type="color" default="#9fa6ad" value="#9fa6ad"/>
<Variable name="footer.link" description="Link Color" type="color" default="#9fa6ad" value="#9fa6ad"/>
<Variable name="footer.border" description="Border Color" type="color" default="#323539" value="#323539"/>
</Group>

<Group description="_Socket Color">
<Variable name="socket.bg" description="Background Color" type="color" default="#09080c" value="#09080c"/>
<Variable name="socket.color" description="Font Color" type="color" default="#9fa6ad" value="#9fa6ad"/>
</Group>

<Group description="_Button">
<Variable name="posts.icons.color" description="Button Color" type="color" default="$(keycolor)" value="#00ab6b"/>
<Variable name="labels.background.color" description="Button Hover"  type="color"  default="#f46013" value="#159667"/>
</Group>

<Group description="_Comment Form">
<Variable name="body.text.font" description="Font" type="font" default="normal normal 14px system-ui,-apple-system,Segoe UI,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji" value="normal normal 14px system-ui,-apple-system,Segoe UI,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji"/>
<Variable name="posts.background.color" description="Background" type="color" default="transparent" value="rgba(0,0,0,0)"/>
</Group>
*/
/*

  -----------------------------------------------
Name : Scribd Downloader Scribdvpdf Template
Designer URL  : https://scribdvpdf.blogspot.com/
year          : 2023
----------------------------------------------- */

*/

.infonh7h{

}

:root{--bs-font-sans-serif:$(body.text.family);--bs-body-bg:$(body.background);--bs-body-color:$(body.text.color);--jt-primary:$(keycolor);--jt-heading-color:$(posts.title.color);--jt-heading-link:$(posts.title.color);--jt-heading-hover:$(keycolor);--jt-link-color:$(body.link.color);--jt-link-hover:$(body.hover.color);--jt-blockquote:$(posts.text.color);--jt-btn-primary:$(posts.icons.color);--jt-btn-primary-hover:$(labels.background.color);--jt-btn-light-hover:$(posts.title.color);--jt-border-light:$(border.color);--jt-bg-light:#f3f7f9;--jt-archive-bg:#fff;--jt-nav-color:$(tabs.color);--jt-nav-hover:$(tabs.hover);--jt-nav-selected:$(tabs.selected.color);--jt-dropdown-bg:$(dropdown.bg);--jt-dropdown-color:$(dropdown.color);--jt-dropdown-hover:$(dropdown.hover);--jt-dropdown-selected:$(dropdown.selected);--jt-header-bg:$(header.bg);--jt-header-color:$(header.color);--jt-header-border:$(header.border);--jt-footer-bg:$(footer.bg);--jt-footer-color:$(footer.color);--jt-footer-link:$(footer.link);--jt-footer-border:$(footer.border);--jt-socket-bg:$(socket.bg);--jt-socket-color:$(socket.color)}.dark-mode{--bs-body-bg:hsl(210,11%,15%);--bs-body-color:hsl(210,11%,80%);--jt-heading-color:hsl(210,11%,80%);--jt-heading-link:hsl(210,11%,80%);--jt-btn-light-hover:hsl(210,11%,85%);--jt-border-light:hsl(210,11%,20%);--jt-bg-light:hsl(210,11%,20%);--jt-archive-bg:hsl(210,11%,17%);--jt-nav-color:hsl(210,11%,70%);--jt-dropdown-bg:hsl(210,11%,18%);--jt-dropdown-color:hsl(210,11%,70%);--jt-header-bg:hsl(210,11%,15%);--jt-header-color:hsl(210,11%,80%);--jt-header-border:hsl(210,11%,20%);--jt-footer-bg:hsl(210,11%,15%);--jt-footer-color:hsl(210,11%,80%);--jt-footer-border:hsl(210,11%,20%);--jt-socket-bg:hsl(210,11%,17%);--jt-socket-color:hsl(210,11%,80%)}body{font:$(body.text);color:var(--bs-body-color);background-color:var(--bs-body-bg);line-height:1.5;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizeLegibility}.d-block{display:none}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font:$(posts.title)}a{transition-property:background-color,border-color,color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.3s;text-decoration:none;color:var(--jt-link-color)}a:hover{color:var(--jt-link-hover)}.fs-7{font-size:.875rem}.fs-8{font-size:.75rem}.fs-9{font-size:.7rem}.btn{box-shadow:none!important}.btn-sm{min-width:32px;min-height:32px}img,svg,iframe{max-width:100%}img{height:auto;object-fit:cover}label{cursor:pointer}.visually-hidden{position:unset!important}.form-control:focus{box-shadow:none;border-color:var(--jt-primary)}.form-control::placeholder{opacity:.5}.dropdown-toggle::after{border-width:.25em .25em 0}.dropdown-menu{margin:0;padding:0}.px-3{padding-right:1rem;padding-left:1rem}.ratio:before{content:none}.ratio-1x1{padding-bottom:100%}.ratio-4x3{padding-bottom:75%}.ratio-16x9{padding-bottom:56.25%}.ratio-21x9{padding-bottom:43%}.object-cover{object-fit:cover}.jt-text-primary,.hover-text-primary:hover,input:checked~.check-text-primary{color:var(--jt-primary)!important}.jt-btn-primary,.jt-btn-outline-primary:hover{color:#fff;background-color:var(--jt-btn-primary);border-color:var(--jt-btn-primary)}.jt-btn-light{color:var(--bs-body-color);background-color:var(--jt-bg-light);border-color:var(--jt-bg-light)}.jt-btn-light:hover{color:var(--jt-btn-light-hover)}.jt-btn-primary:hover,.hover-btn-primary:hover,input:checked+.jt-btn-outline-primary{color:#fff!important;background-color:var(--jt-btn-primary-hover)!important;border-color:var(--jt-btn-primary-hover)!important}.jt-btn-outline-primary{color:var(--jt-btn-primary);border-color:var(--jt-btn-primary)}.jt-bg-primary{background-color:var(--jt-primary)}.jt-bg-light{background-color:var(--jt-bg-light)}.bg-archive{background-color:var(--jt-archive-bg)}.jt-border-light{border-color:var(--jt-border-light)!important}input:checked~.d-block-check{display:block!important}input:checked~.d-none-check{display:none!important}.dropdown-menu,.accordion-item,.accordion-header{background-color:var(--bs-body-bg);color:var(--bs-body-color);border-color:var(--jt-border-light)}.lazyload{transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.3s;opacity:0}.lazyload.loaded{opacity:1}pre{background-color:var(--jt-bg-light);margin-bottom:1rem;padding:1rem;font-size:.75rem}blockquote{border-left:5px solid var(--jt-blockquote);color:inherit;font-size:1.125rem;margin-bottom:1.5rem;margin-top:1.5rem;padding-left:1rem}.header-animate.header-hidden{transform:translateY(-100%);box-shadow:none!important}#header{background-color:var(--jt-header-bg);color:var(--jt-header-color);transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.3s;min-height:50px;border-bottom:1px solid var(--jt-header-border)}.header-social{border-right:1px solid var(--jt-header-border)}.jt-icon{display:inline-block;height:1em;vertical-align:-.15em;width:1em;fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:2}.jt-icon-center{font-family:sans-serif}.icon-dark,.dark-mode .icon-light{display:none}.dark-mode .icon-dark{display:block}#dark-toggler,#search-toggler,#navbar-toggler{line-height:1}#dark-toggler{font-size:17px}#footer{background-color:var(--jt-footer-bg);color:var(--jt-footer-color);border-top:1px solid var(--jt-footer-border)}#socket{background-color:var(--jt-socket-bg);color:var(--jt-socket-color)}#navbar{z-index:9999}#navbar .menu-item{position:relative}#navbar .nav-link{min-height:40px}#navbar .dropdown-toggle{cursor:pointer;align-items:center;display:flex}#navbar.d-block,#navbar .dropdown-menu,#navbar .nav-link,#navbar .dropdown-toggle{-webkit-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s}#navbar .navbar-nav>.menu-item>.nav-link{font:$(tabs.font);line-height:1.5;color:var(--jt-nav-color)}#navbar .navbar-nav>.menu-item:hover>.nav-link,#navbar .navbar-nav>.menu-item:hover>.dropdown-toggle{color:var(--jt-nav-hover)}#navbar .navbar-nav>.menu-item>.nav-link.active,#navbar .navbar-nav>.menu-item>.active~.dropdown-toggle{color:var(--jt-nav-selected)}.logo-wrap{width:$(logo.width)}#search-header .dropdown-menu{background-color:var(--jt-dropdown-bg);color:var(--jt-dropdown-color);border-color:var(--jt-header-border);min-width:300px;right:0;top:100%}.blog-admin{display:none}#pagination li+li{margin-left:5px}.no-items{display:none}.feature-image,.separator,.tr-caption-container{margin-bottom:1rem}.tr-caption-container{width:100%}.separator a,.tr-caption-container a{margin:0!important;padding:0!important}.tr-caption{font-size:12px;font-style:italic}.widget:last-child{margin-bottom:0!important}#post-body .widget{margin-top:1.5rem}.item-title{color:var(--jt-heading-link)}.item-title:hover{color:var(--jt-heading-hover)}#comment-editor{width:100%}#primary .widget-title{font-weight:300;text-transform:uppercase}#footer .widget-title{text-transform:uppercase}#footer .widget-title,#sidebar .widget-title{font-size:13px!important}#footer .widget-title:after{content:"";display:block;width:50px;border-bottom:2px solid var(--jt-primary);margin-top:10px}#primary .widget-title>span{background-color:var(--bs-body-bg);padding-right:5px;position:relative}#main .widget-title:before,#sidebar .widget-title:before{background-color:var(--jt-bg-light);content:"";height:1px;display:block;position:absolute;top:50%;transform:translateY(-50%);width:100%}#main .widget-title:before{border-right:30px solid var(--jt-primary);height:5px}.send-success:not(.loading) .contact-form-msg,.send-error:not(.loading) .contact-form-msg{display:block!important}.send-success .contact-form-msg{border-color:rgba(25,135,84,.3)!important}.send-error .contact-form-msg{border-color:rgba(255,193,7,.3)!important}.send-success .contact-form-msg:before{content:attr(data-success)}.send-error .contact-form-msg:before{content:attr(data-error)}hr.example-ads:before{content:"Advertisement here"}hr.example-ads{background-color:var(--jt-bg-light);border-radius:.25rem;font-size:.875rem;height:auto;margin:0;opacity:1;padding:1.5rem 0;text-align:center}body>.google-auto-placed{margin:0 auto 1.5rem;max-width:1108px}.google-auto-placed>ins{margin:0!important}.h1,h1{font-size:calc(1.375rem + 1.5vw)}.h2,h2{font-size:calc(1.325rem + .9vw)}.h3,h3{font-size:calc(1.3rem + .6vw)}.h4,h4{font-size:calc(1.275rem + .3vw)}.h5,h5{font-size:$(title.h5)}.h6,h6{font-size:$(title.h6)}.entry-title{color:var(--jt-heading-color)}.entry-text h1,.entry-text h2,.entry-text h3,.entry-text h4,.entry-text h5,.entry-text h6{color:var(--jt-heading-color);padding-top:1em;margin-bottom:1rem}.entry-text li{margin-bottom:.5rem}@media (min-width:576px){.ratio-sm-4x3{padding-bottom:75%}.ratio-sm-16x9{padding-bottom:56.25%}.border-sm-end{border-right-width:1px!important;border-right-style:solid}#post-pager .next-page{border-left:1px solid}}@media (min-width:768px){.position-md-relative{position:relative}.border-md-end{border-right-width:1px!important;border-right-style:solid}}@media (min-width:992px){.d-lg-flex{display:flex}.col-lg-4{flex:0 0 auto;width:33.33333333%}.col-lg-8{flex:0 0 auto;width:66.66666667%}.border-lg-end{border-right-width:1px!important;border-right-style:solid}#navbar .navbar-nav>.menu-item{display:flex}#navbar .dropdown-menu{background-color:var(--jt-dropdown-bg);border-color:var(--jt-header-border);margin-top:-10px;display:block;opacity:0;visibility:hidden;pointer-events:none;box-shadow:5px 10px 10px -5px rgba(0,0,0,.14);top:100%;min-width:150px}#navbar .dropdown-menu .nav-link{padding-right:20px;font-size:$(dropdown.font);color:var(--jt-dropdown-color)}#navbar .dropdown-menu .dropdown-toggle{position:absolute;right:10px;top:20px}#navbar .dropdown-menu .dropdown-menu{left:100%;top:-1px}#navbar .dropdown-menu .menu-item:hover>.nav-link,#navbar .dropdown-menu .menu-item:hover>.dropdown-toggle{color:var(--jt-dropdown-hover)}#navbar .dropdown-menu .menu-item>.nav-link.active,#navbar .dropdown-menu .menu-item>.active~.dropdown-toggle{color:var(--jt-dropdown-selected)}#navbar .menu-item:hover>.dropdown-menu{opacity:1;visibility:visible;pointer-events:unset;margin:0}#navbar .navbar-nav>.menu-item>.nav-link{padding:1.5rem 1.2rem;white-space:nowrap}#navbar .navbar-nav>.menu-item>.dropdown-toggle{bottom:0;pointer-events:none;position:absolute;right:5px;top:3px}#sidebar{border-left:1px solid var(--jt-border-light)}#footer-widget .widget{margin-bottom:0!important}}@media (min-width:1200px){.container{max-width:1140px}.h1,h1{font-size:$(posts.title.size)}.h2,h2{font-size:$(title.h2)}.h3,h3{font-size:$(title.h3)}.h4,h4{font-size:$(title.h4)}}@media (min-width:1400px){.container{max-width:1320px}}@media (max-width:991.98px){input:checked~.dropdown-menu{display:block}input:checked+.dropdown-toggle{color:var(--jt-dropdown-selected)}.logo-wrap{width:$(logo.width.mobile)}#search-header .dropdown-menu{width:100%}#navbar{background-color:var(--jt-header-bg);padding-top:70px;padding-bottom:30px;position:fixed;left:0;right:0;top:0;bottom:0;width:auto}#navbar.d-block{opacity:0;transform:translateX(-20%)}#navbar.show{transform:translateX(0);opacity:1}#navbar .navbar-nav{max-height:100%;overflow-y:auto}#navbar-toggle:checked~#header-main #navbar{display:block}#navbar .nav-link{border-bottom:1px solid var(--jt-header-border);font-size:16px!important;color:var(--jt-dropdown-color)}#navbar .menu-item:hover>.nav-link{color:var(--jt-dropdown-hover)}#navbar .active>.nav-link{color:var(--jt-dropdown-selected)}#navbar .dropdown-toggle{border-left:1px solid var(--jt-header-border);height:2.5rem;padding:0 1rem;position:absolute;right:0;top:0}#navbar .dropdown-menu{background-color:var(--jt-dropdown-bg);border:none;padding-left:10px}#sidebar{border-top:1px solid var(--jt-border-light)}}@media (max-width:575.98px){.feature-posts .item-thumbnail{margin-bottom:-150px}.feature-posts .item-thumbnail a{border-radius:0!important;box-shadow:none!important;padding-bottom:75%}.feature-posts .item-content{background-color:var(--bs-body-bg);border:5px solid;border-radius:.25rem}#post-pager .prev-page+.next-page{border-top:1px solid}.full-width,.px-3 .google-auto-placed{margin-left:-1rem;margin-right:-1rem;width:auto!important}#footer-widget .widget{padding-left:3rem;padding-right:3rem}}

.info{
background-color: #ffff;
text-align: left;
margin-left: 0%;
margin-top: 0%;
padding-top: 76px;
padding-left: 30px;
}

.hinfo{
padding: 40px 0;
}

.info h1{
 font-size: 3.375rem;
    color: #000000;
padding-bottom: 32px;
max-width: 70%;
font-weight: 400;
font-family: 'Open Sans',sans-serif;
}

.btnp{
margin-left: 10px;
height: 56px;

    animation: auto ease 0s 1 normal none running none;



    background: #008553;
    border-radius: 8px;
    padding: 8px 40px;
    display: inline-block;
    border: none;
    color: rgb(253, 253, 254);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btnp:hover{
background: #00ab6b;
}

.long-placeholder{
width: 70%;
    border: 1px solid rgb(209, 219, 224);
    box-sizing: border-box;
    border-radius: 8px;
    height: 56px;
    padding: 17px 20px;
    font-size: 14px;
}
 #iframeContainer {
position: relative;
display: none; /* Initially hide the container */
    }

    .overlayDiv {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #overlayTop {
      top: 0;
      background-color: #f2f2f2;
      text-align: center;
      line-height: 56px; /* Adjust this value for vertical alignment */
    }

    #overlayBottom {
      bottom: 0;
      background-color: #f2f2f2;
    }

    /* Media Query for screen width between 768px and 992px (tablet landscape) */
@media (min-width: 768px) {
#iframeContainer {
height: 600px;
}

#overlayTop {
height: 46px;
}

#overlayBottom {
height: 40px;
}
}
    /* Media Query for screen width less than 768px (mobile) */
@media (max-width: 767px) {   
#iframeContainer {
height: 750px;
}

#overlayTop {
height: 85px;
}

#overlayBottom {
height: 40px;
}
}
.info2 {
background-color: #f1fdf7;
    padding-bottom: 48px;
    padding-top: 86px;
    margin: 0;
    width: 100%;
    padding: 32px 32px 64px;
}

.info2 h2{
    font-size: 28px;
    line-height: 130%;
    color: #404145;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
padding-bottom: 20px;
}
.info2 h3{
font-size: 16px;
    line-height: 140%;
    color: #404145;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
padding-bottom: 8px;
}
.info2 span{
margin-right: 10px;
}
.tbop{
font-size: 18px;
line-height: 26px;
color: #62646a;
}

.sect1{
background-color: #000000;
padding: 64px 32px;
gap: 32px;
justify-content: space-between;
display: grid;
grid-template-columns: min(calc(var(--col-width) * 12), calc(100vw - 2 * var(--gutter))) auto;
margin: auto;
    max-width: min(calc(var(--col-width) * 22), calc(100vw - 2 * var(--gutter)));
}

.sect2 h2{
font-size: 54px;
color: #ffffff;
}

.sect2 a{
color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10px;
    padding: 16px 32px 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    user-select: none;
    transition: margin-top 200ms;
    text-align: center;
    text-decoration: none;
    position: relative;
    background: #008553;
    letter-spacing: -0.01em;
margin-top: 10%;
}

.sect2 a:hover {
margin-top: 8%;
background: #00ab6b;
}

.contr1{
padding: 64px 20px;
}

.text-gray-800 {
    font-size: 40px;
    margin-bottom: 2rem;
    --tw-text-opacity: 1;
    color: rgb(45 45 45)
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
}

.contr1 button {
font-weight: 500!important;
font-size: 1.25rem!important;
font-family: sans-serif;
}

 @media (max-width: 600px) {
.info h1{
 font-size: 2.25rem;
 max-width: 400px;
}
.info svg{
 heigth: 30px;
 width: 30px;
}
.btnp{
 width: 95%;
margin-left: 0px;
margin-top: 12px;
}
.long-placeholder{
 width: 95%;
}

.info2 {
    padding: 24px 24px 48px;
}
.sect2 h2{
font-size: 36px;
max-width: 300px;
}
.sect2 a{
font-size: 18px;
padding: 14px 24px 16px
}

.text-gray-800 {
    font-size: 32px;
}
}

 @media (max-width: 430px) {
.info{
padding-top: 40px;
padding-left: 20px
}
.info svg{
 heigth: 26px;
 width: 26px;
}
.sect2 a{
font-size: 16px;
}
}
